.masthead {
    height: 50px;
    border: solid 1px black;
    margin: 15px 25% 15px 25%;
    text-align: center;
    font-size: 30px;
    padding-top:10px; 
}

.currentNumber {
    height: 50px;
    border: solid 1px black;
    margin: 15px 25% 15px 25%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row {
    height: 50px;
    border: solid 1px black;
    margin: 15px 25% 15px 25%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttonSection {
    display: inline-block;
    border: solid 1px black;
    margin: 15px 19% 15px 35%;
}

.btn1 {
    width:100px;
    height: 100px;
    background-image: url('../images/hamster1.jpg');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    margin: 25px auto;
    float: center;
}

.btn2 {
    width:100px;
    height: 100px;
    background-image: url('../images/hamster2.jpg');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    margin: 25px auto;
    float: center;
}

.btn3 {
    width:100px;
    height: 100px;
    background-image: url('../images/hamster3.jpg');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    margin: 25px auto;
    float: center;
}
.btn4 {
    width:100px;
    height: 100px;
    background-image: url('../images/hamster4.jpg');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    margin: 25px auto;
    float: center;
}

.scoreBox {
    height: 50px;
    border: solid 1px black;
    margin: 15px 25% 15px 25%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
